{% extends "base-shell.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<nav class="collections-nav panel">
    {% block nav %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link{% if log_type == 'entries' %} active{% endif %}" href="{{ url_for('entries_collection') }}">Entries</a>
            <a class="nav-link{% if log_type == 'sessions' %} active{% endif %}" href="{{ url_for('sessions_collection') }}">Sessions</a>
        </li>
    </ul>
    {% endblock %}
</nav>
<div class="row">
    <section class="main col">
        {% block main %}{% endblock %}
    </section>
    <div class="sidebar col">
        {% block sidebar %}{% endblock %}
    </div>
</div>

{% block js_foot %}
<script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
{% endblock %}

{% endblock %}
